/* Xóa bỏ mọi lề và viền mặc định */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Ép tất cả các thẻ khung phải chiếm trọn 100% màn hình */
html, body, #root {
  width: 100vw;
  height: 100vh;
  overflow: hidden; /* Khóa thanh cuộn */
}